table {
  width: 100%;
}

.form {
  width: 700px;
  border-radius: 12px;
  padding: 20px 24px;
  background-color: #fff;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.form-title {
  font-size: 20px;
  font-weight: 600;
}

.btn-close {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.form-body {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form-label {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.fomr-input {
  height: 44px;
  border-radius: 4px;
  border: 1px solid #d0d5dd;
  outline: none;
  padding: 0 16px;
}

.form-footer {
}
.btn {
}
