/* Đây là các style sẽ áp dung chung giành cho các trang trong dự án */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --background-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.container {
  display: flex;
}

.menu {
  width: 240px;
  background-color: #f6f8f9;
  height: 100vh;
}

.menu .logo-image {
  display: flex;
  justify-content: center;
  height: 56px;
  align-items: center;
}

.active,
.active i {
  background-color: #d7edff;
  font-weight: 600;
  color: #0e73f6 !important;
}

.list-link {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 14px 16px;
}

.link-item {
  height: 32px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 8px;
  text-decoration: none;
}

.link-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.link-item i {
  color: #3f3f46;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  background-color: var(--background-white);
  height: 56px;
  border-bottom: 1px solid #e5e9eb;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}

.main-content {
  background-color: var(--background-white);
  flex: 1;
  padding: 24px;
}
